<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/base.css">
    <title>Base</title>
</head>
<body>
    <header>
        <h1>Bem vindo a DOGS & DOGS!</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicial') }}">Inicío</a></li>
                <li><a href="{{ url_for('gerenciamento') }}">Gerenciamento</a></li>
                <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>