{% extends 'base.html' %}

    {% block conteudo %}
        <section id="quem somos">
            <h2>Quem somos?</h2>
            <p>A DOGS & DOGS é o serviço veterinario que nasceu com o propósito de entregar o que há de melhor em medicina veterinária através de uma experiência cuidadosa e singular para os pets e seus tutores. A qualidade e o carinho que nós já tinhamos, agora com a mais alta tecnologia do segmento de saúde veterinária que os nossos traz proporcionando a melhor infraestrutura para proporcionar qualidade de vida para pets e seus tutores!</p>
        </section>
        <section id="medicina preventiva">
            <h2>Medicina Preventiva!</h2>
            <p>O cuidado com a saúde do seu pet não deve ocorrer apenas quando ele fica doente.

Um tutor responsável toma medidas antes que eles desenvolvam problemas de saúde. Isso é medicina preventiva.

Ela começa a atuar logo na primeira visita ao veterinário, assim que você adota ou compra seu animal de estimação, seja ele filhote ou adulto. Nessa consulta, o veterinário vai fazer um check-up, montar um calendário de vacinação e vermifugação, auxiliar você a alimentar seu pet com uma dieta saudável e pode até mesmo programar a castração.</p>
        </section>
        <section id="Higiene também é prevenção">
            <h2>Higiene também é prevenção!</h2>
            <p>É isso mesmo! Inúmeras doenças podem ser evitadas quando mantemos a higiene dos nossos pets em dia, a começar pelo banho, prevenindo o acúmulo de sujeiras que podem causar doenças graves. Além disso, dar banho no pet permite que você observe todo o corpo dele, garantindo a ausência de pulgas, carrapatos e até machucados e alergias na pele que você não havia percebido antes.</p>
        </section>
    {% endblock %}
